body {
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.header {
    padding: 15px 400px 100px;
    flex-direction: column;
    align-items: stretch;
    gap: 80px;
}

.container-top {
    display: flex;
    justify-content: space-between;
}

.header .logo,
.header .main-text {
    color: #f9faf8;
}

.header .logo {
    font-size: 20px;
    font-weight: 900;
}

.header .links {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.header .links li a {
    text-decoration: none;
}

.container-hero {
    display: flex;
    gap: 20px;
}

.header .first-part {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
}

.header .main-text {
    font-size: 48px;
    font-weight: 900;
    max-width: 75%;
}

.header .links li a,
.secondary-text,
.footer {
    color: #e5e7eb;
}

.header .links li a,
.secondary-text {
    font-size: 18px;
}

button.sign-up {
    padding: 6px 20px;
    border-radius: 5px;
    background-color: hsl(220deg 90% 60%);
    color: #ffffff;
    font-weight: 700;
    font-family: Roboto, sans-serif;
}

.header button.sign-up {
    border: none;
}

.container-hero .image-placeholder {
    width: 700px;
    background-color: #e5e7eb;
}

.info {
    padding: 30px 400px 100px;
}

.info .main-text {
    font-size: 36px;
    font-weight: 900;
    color:#1f2937;
    text-align: center;
    margin-bottom: 60px;
}

.info .container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info .container > div {
    width: 140px;
}

.info .image-placeholder {
    height: 140px;
    border: 3px solid #3882f6;
    border-radius: 25px;
    margin-bottom: 10px;
}

.info .secondary-text {
    text-align: center;
    color: #747981;
}

.quote {
    padding: 100px 400px 100px;
    background-color: #e5e7eb;
}

.quote .main-text {
    color: #4e5866;
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
}

.quote .secondary-text {
    color:#1f2937;
    font-weight: 700;
    text-align: end;
}

.sign-up {
    padding: 100px 300px;
}

.sign-up .inner {
    padding: 40px 100px;
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-up .inner .main-text {
    color: #f9faf8;
    font-size: 20px;
    font-weight: 600;
}

.sign-up .inner .secondary-text {
    font-size: 18px;
}

.sign-up .inner button.sign-up {
    border: 2px solid #ffffff;
}

.footer {
    padding: 30px 0;
}